<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%- title %></title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

        <!-- Theme style -->
        <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
           folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
        <!-- jQuery 2.2.3 -->
        <script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
        <script src="/js/angular.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
        <script>
            var host = '<%- host %>';
            var port = <%- port %>;

        </script>
        <script src="/js/mini-radar-app.js?v=<%- version %>"></script>
        <script src="/js/ng-base-controller.js?v=<%- version %>"></script>
        <script src="/js/ng-monitor-controller.js?v=<%- version %>"></script>
        <style>
            .js-command {
                cursor: pointer;
            }
        </style>
    </head>

    <body class="hold-transition skin-blue" ng-app="miniRadarApp">
        <div class="wrapper">
            <!-- Content Wrapper. Contains page content -->
            <div ng-controller="MonitorController">
                <canvas id="canvas" width="900" height="500" tabindex="1" style="float: left;vertical-align: top;border: 1px solid black;cursor: crosshair" ></canvas>
            </div>
            <!-- /.content-wrapper -->
            <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>
        <!-- ./wrapper -->
        <!-- Bootstrap 3.3.6 -->
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <!-- AdminLTE App -->
        <script src="dist/js/app.min.js"></script>
    </body>
</html>
